<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
     <pipelines>
      <mvc.getModel>
        <processor type="ItemBinding.Mvc.Infrastructure.Pipelines.GetModel.GetFromRenderingItem, ItemBinding.Mvc" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetModel.GetFromRenderingItem, Sitecore.Mvc']"/>
      </mvc.getModel>
      <mvc.renderRendering>
        <processor type="ItemBinding.Mvc.Infrastructure.Pipelines.RenderRendering.ResolveDataSourceQuery, ItemBinding.Mvc" patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']"/>
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>
